<h1>Home</h1>

<% list_of_boards = Board.all %>


  
  <article>
    <header>
      All boards
    </header>
    <ul>
      <% list_of_boards.each do |a_board|%>
        <li>
          <a href="/boards/<%= a_board.id %>">
            <%= a_board.name %>
          </a>
        </li>
      <% end %>
    </ul>
  </article>
